# Byte-compiled and built packages
*.py[cod]
dist/

# Virtual environment 
.venv

# Unit test / coverage reports
.coverage

# Sphinx documentation
docs/_build/

# I18n
src/goodboy/locale/**/goodboy.mo

# Editors and notes
.vscode/*
.idea/*
.notes
